

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: "Merriweather", serif;
}

/* Banner section style starts header */


.banner-container{
max-width: 1120px;
max-height: 500px;
margin: 0 auto;
margin-top: 20px;
background-image: url('../images/Banner\ Image.png');
background-color: rgba(0, 0, 0, 0.6);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-blend-mode: overlay;
}

.banner-contain{
display: flex;
flex-direction: column;
justify-content: center;
height: 600px;
align-items: center;
}
.banner-contain p, h1{
  color: white;
}
.banner-contain p{
  font-size: 32px;
font-weight: 400;
}
.banner-contain h1{
  font-size: 72px;
font-weight: 900;
}

/* 65% section start here */

.sec-section{
width: 602.9px;
height: 640px;
margin: 0 auto;
margin-top: 85px;
}
.S-S-content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.S-S-content h1{
color: rgb(255, 0, 0);
font-family: Inter;
font-size: 78px;
font-weight: 700;
margin-top: 10px;
}
.S-S-content p{
color: rgb(255, 0, 0);
font-family: Inter;
font-size: 20px;
font-weight: 500;
margin-top: 10px;
}
.S-S-content h3{
color: rgb(7, 2, 17);
font-family: Inter;
font-size: 40px;
font-weight: 700;
margin-top: 10px;
}
.img-one {
height: 400px;
left: 320px;
margin-top: 50px;
}

/* section two mid-night */

.sec-two-midnight {
width: 1120px;
height: 500px;
margin: 0 auto;
margin-top: 30px;
display: flex;
background-image: url('../images/Vectorrr.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-color: rgba(0, 0, 0, 0.6);
background-blend-mode: overlay;
margin-top: 100px;
}
.left-content {
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.left-content h1 {
color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 54px;
font-weight: 900;
line-height: 75px;
letter-spacing: 11%;
text-align: left;
margin-left: 40px;
}
.left-content p {
color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
margin-left: 40px;
}
#midnight-btn{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 700;
margin-top: 20px;
margin-right: 330px;
}
.right-content {
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right-content img{
  width: 300.16px;
height: 400.65px;
}

/* section three */

.sec-three{
width: 1120px;
height: 382px;
margin: 0 auto;
border-radius: 16px;
background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
margin-top: 40px;
margin-bottom: 40px;
}

.sec-three-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.sec-three-description h3{
  margin-top: 10px;
  font-weight: bold;
}

span{
  color: red;
}

/* Section Four */

.sec-four {
width: 1120px;
height: 383px;
border: 2px solid red;
margin: 0 auto;
margin-bottom: 100px;
}


/* section five */

.sec-five{
width: 1120px;
height: 423px;
border: 2px solid red;
margin: 0 auto;
}

/* section six holiday */

.sec-six-holiday{
width: 1120px;
height: 886.07px;
border: 2px solid red;
margin: 0 auto;
margin-top: 100px;
position: relative;
}

.six-text-containar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 868px;
  height: 220px;
  margin: 0 auto;
}
.black{
  color: black;
}
.six-text-containar h5{
color: rgb(7, 2, 17);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.six-text-containar h1{
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 91px;
letter-spacing: 0%;
text-align: center;
}
.six-text-containar p{
color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0%;
text-align: center;
}

.solid-color{
width: 1120px;
height: 209px;
background-color: red;
position: absolute;
top: 77%;
}